.containerCard {
  width: 90vw;           /* 90% del ancho de la ventana */
  max-width: 1400px;     /* opcional: límite máximo para pantallas muy grandes */
  margin: 20px auto;     /* espacio arriba y abajo + centrado horizontal */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center; /* para centrar las columnas si no llenan todo el ancho */
  padding: 0;
  margin-top: 250px;
}

app-card {
  display: contents;
}

.containerCard ul li{
  display:inline-block;
}
